earnhardt-auto-shop/doolittle_workflow_clean.json
{
  "name": "Doolittle Dentistry - Appointment Confirm via Calendar Trigger",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "doolittle-calendar-watch",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        304
      ],
      "id": "calendar-webhook",
      "name": "Google Calendar Watch Webhook",
      "webhookId": "doolittle-calendar-watch"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        272,
        112
      ],
      "id": "respond-200",
      "name": "Respond 200 OK"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-not-sync",
              "leftValue": "={{ $json.headers['x-goog-resource-state'] }}",
              "rightValue": "sync",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        272,
        304
      ],
      "id": "filter-sync",
      "name": "Filter: Skip Sync Messages"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "allen@enmessara.ai",
          "mode": "list",
          "cachedResultName": "allen@enmessara.ai"
        },
        "returnAll": true,
        "timeMin": "={{ $now.startOf('day').toISO() }}",
        "timeMax": "={{ $now.plus(7, 'days').toISO() }}",
        "options": {
          "orderBy": "startTime"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        528,
        304
      ],
      "id": "fetch-recent-events",
      "name": "Fetch Recent Calendar Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RLxXheVb5EvaLabc",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-appointment",
              "leftValue": "={{ $json.summary }}",
              "rightValue": "Appointment",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "filter-not-service",
              "leftValue": "={{ $json.summary }}",
              "rightValue": "Service",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        784,
        304
      ],
      "id": "filter-appointment",
      "name": "Filter: Appointment Events"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ (() => {\n  const summary = $json.summary || '';\n  const parts = summary.split('|');\n  const patient_name = parts[1] ? parts[1].trim() : 'Unknown';\n  const appointment_type = parts[2] ? parts[2].trim() : 'Other';\n  const appointment_time = $json.start?.dateTime || $json.start?.date || '';\n  const description = $json.description || '';\n\n  const phoneMatch = description.match(/(Phone|phone_number|phone)\\s*:\\s*([+\\d\\-\\s()]+)/i);\n  let phone_number = '';\n  if (phoneMatch) {\n    let digits = phoneMatch[2].replace(/[^\\d]/g, '');\n    if (digits.length === 10) {\n      phone_number = '+1' + digits;\n    } else if (digits.length === 11 && digits.startsWith('1')) {\n      phone_number = '+' + digits;\n    } else if (digits.length > 10) {\n      phone_number = '+' + digits;\n    }\n  }\n\n  return JSON.stringify({\n    patient_name,\n    appointment_type,\n    appointment_time,\n    phone_number,\n    event_id: $json.id || '',\n    event_summary: summary,\n    event_description: description\n  });\n})() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        304
      ],
      "id": "extract-patient-data",
      "name": "Extract Patient Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-phone",
              "leftValue": "={{ $json.phone_number }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1424,
        304
      ],
      "id": "filter-has-phone",
      "name": "Filter: Has Phone Number"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer key_2fc6e375b443f0c154eac674f220"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ from_number: \"+17252414143\", to_number: $json.phone_number, override_agent_id: \"agent_98b3c6ca4a9841d0c5a6fd3b13\", retell_llm_dynamic_variables: { patient_name: $json.patient_name, appointment_time: $json.appointment_time, appointment_type: $json.appointment_type } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        304
      ],
      "id": "retell-create-call",
      "name": "Retell: Initiate Outbound Call",
      "credentials": {
        "httpHeaderAuth": {
          "id": "48q0LXxeyqPYQixK",
          "name": "Header Auth account"
        },
        "httpBearerAuth": {
          "id": "hVVZLa7pD1EBk6ua",
          "name": "Bearer Auth account"
        },
        "httpCustomAuth": {
          "id": "5ATmi12Ln0dVWz51",
          "name": "HealthcareAgent"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "dedup-check",
              "leftValue": "={{ $json.description || '' }}",
              "rightValue": "[CALLED]",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        896,
        304
      ],
      "id": "dedup-filter-001",
      "name": "Filter: Not Already Called"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://www.googleapis.com/calendar/v3/calendars/allen%40enmessara.ai/events/' + $('Extract Patient Data').item.json.event_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ description: (($('Extract Patient Data').item.json.event_description || '') + '\\n[CALLED] ' + $now.toISO()).trim() }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1872,
        304
      ],
      "id": "tag-called-001",
      "name": "Tag Event as Called",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RLxXheVb5EvaLabc",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "connections": {
    "Google Calendar Watch Webhook": {
      "main": [
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter: Skip Sync Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Skip Sync Messages": {
      "main": [
        [
          {
            "node": "Fetch Recent Calendar Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Recent Calendar Events": {
      "main": [
        [
          {
            "node": "Filter: Appointment Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Appointment Events": {
      "main": [
        [
          {
            "node": "Filter: Not Already Called",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Patient Data": {
      "main": [
        [
          {
            "node": "Filter: Has Phone Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Has Phone Number": {
      "main": [
        [
          {
            "node": "Retell: Initiate Outbound Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Not Already Called": {
      "main": [
        [
          {
            "node": "Extract Patient Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retell: Initiate Outbound Call": {
      "main": [
        [
          {
            "node": "Tag Event as Called",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}