earnhardt-auto-shop/workflow.json
{"updatedAt":"2026-02-16T19:34:19.372Z","createdAt":"2026-02-14T22:09:08.620Z","id":"KJk3TuaZmlqd0j9c","name":"Earnhardt Auto Shop - Outbound via Calendar Trigger","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"earnhardt-calendar-watch","responseMode":"responseNode","options":{}},"id":"c1b2c3d4-3333-4444-cccc-000000000001","name":"Calendar Watch Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,352],"webhookId":"earnhardt-cal-watch-001"},{"parameters":{"respondWith":"noData","options":{"responseCode":200}},"id":"c1b2c3d4-3333-4444-cccc-000000000002","name":"Respond 200 OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[464,240]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"condition-sync","leftValue":"={{ $json.headers['x-goog-resource-state'] }}","rightValue":"sync","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"c1b2c3d4-3333-4444-cccc-000000000003","name":"Skip Sync Messages","type":"n8n-nodes-base.if","typeVersion":2,"position":[688,352]},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"allen@enmessara.ai","mode":"list","cachedResultName":"allen@enmessara.ai"},"returnAll":true,"timeMin":"={{ $now.startOf('day').toISO() }}","timeMax":"={{ $now.plus(7, 'days').toISO() }}","options":{"orderBy":"startTime"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[912,352],"id":"c1b2c3d4-3333-4444-cccc-000000000004","name":"Fetch Calendar Events","credentials":{"googleCalendarOAuth2Api":{"id":"RLxXheVb5EvaLabc","name":"Google Calendar account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"condition-appointment","leftValue":"={{ $json.summary }}","rightValue":"Service","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"c1b2c3d4-3333-4444-cccc-000000000005","name":"Filter Appointments","type":"n8n-nodes-base.if","typeVersion":2,"position":[1120,352]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const event = $input.item.json;\nconst title = event.summary || '';\nconst description = event.description || '';\n\n// Parse: \"Appointment | Customer Name | Service Type\"\nconst parts = title.split('|').map(s => s.trim());\nconst customer_name = parts[1] || 'valued customer';\nconst appointment_type = parts[2] || 'auto service';\nconst appointment_time = event.start?.dateTime || event.start?.date || '';\n\n// Extract phone from description\nconst phoneRegex = /(Phone|phone_number|phone)\\s*:\\s*([+\\d\\-\\s()]+)/i;\nconst phoneMatch = description.match(phoneRegex);\nlet phone_raw = phoneMatch ? phoneMatch[2] : '';\n\n// Normalize to E.164\nlet phone_normalized = '';\nif (phone_raw) {\n  const digitsOnly = phone_raw.replace(/\\D/g, '');\n  if (digitsOnly.length === 10) phone_normalized = `+1${digitsOnly}`;\n  else if (digitsOnly.length === 11 && digitsOnly[0] === '1') phone_normalized = `+${digitsOnly}`;\n  else if (digitsOnly.length > 11) phone_normalized = `+${digitsOnly}`;\n}\n\nreturn {\n  json: {\n    customer_name,\n    appointment_time,\n    appointment_type,\n    phone_number: phone_normalized,\n    event_id: event.id\n  }\n};"},"id":"c1b2c3d4-3333-4444-cccc-000000000006","name":"Extract Customer Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,352]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"condition-phone","leftValue":"={{ $json.phone_number }}","rightValue":"","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"c1b2c3d4-3333-4444-cccc-000000000007","name":"Has Phone Number","type":"n8n-nodes-base.if","typeVersion":2,"position":[1568,352]},{"parameters":{"method":"POST","url":"https://api.retellai.com/v2/create-phone-call","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authentication","value":"key_65583dc1971057cffcc0ebe8a598"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from_number\": \"+17252289486\",\n  \"to_number\": {{ JSON.stringify($json.phone_number) }},\n  \"override_agent_id\": \"agent_1366e6adc7ed1285dfe778fcee\",\n  \"retell_llm_dynamic_variables\": {\n    \"customer_name\": {{ JSON.stringify($json.customer_name) }},\n    \"appointment_time\": {{ JSON.stringify($json.appointment_time) }},\n    \"appointment_type\": {{ JSON.stringify($json.appointment_type) }}\n  }\n}","options":{}},"id":"c1b2c3d4-3333-4444-cccc-000000000008","name":"Retell Outbound Call","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1792,352],"credentials":{"httpCustomAuth":{"id":"5HrLKE8aPabx0io0","name":"EarnhardtAutoMVP"},"httpHeaderAuth":{"id":"48q0LXxeyqPYQixK","name":"Header Auth account"}}}],"connections":{"Calendar Watch Webhook":{"main":[[{"node":"Respond 200 OK","type":"main","index":0},{"node":"Skip Sync Messages","type":"main","index":0}]]},"Skip Sync Messages":{"main":[[{"node":"Fetch Calendar Events","type":"main","index":0}]]},"Fetch Calendar Events":{"main":[[{"node":"Filter Appointments","type":"main","index":0}]]},"Filter Appointments":{"main":[[{"node":"Extract Customer Data","type":"main","index":0}]]},"Extract Customer Data":{"main":[[{"node":"Has Phone Number","type":"main","index":0}]]},"Has Phone Number":{"main":[[{"node":"Retell Outbound Call","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"69b6089d-4992-469c-8ec6-199dc527d6fa","activeVersionId":"69b6089d-4992-469c-8ec6-199dc527d6fa","versionCounter":25,"triggerCount":1,"shared":[{"updatedAt":"2026-02-14T22:09:08.621Z","createdAt":"2026-02-14T22:09:08.621Z","role":"workflow:owner","workflowId":"KJk3TuaZmlqd0j9c","projectId":"em1OfYdudAmLJTFQ","project":{"updatedAt":"2025-04-17T17:44:16.783Z","createdAt":"2025-04-17T17:44:14.313Z","id":"em1OfYdudAmLJTFQ","name":"Allen Marcus <allen@enmessara.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-04-17T17:44:14.313Z","createdAt":"2025-04-17T17:44:14.313Z","userId":"62d9f3ac-5395-480a-a86f-630269265294","projectId":"em1OfYdudAmLJTFQ","user":{"updatedAt":"2026-02-16T12:41:06.000Z","createdAt":"2025-04-17T17:44:12.622Z","id":"62d9f3ac-5395-480a-a86f-630269265294","email":"allen@enmessara.ai","firstName":"Allen","lastName":"Marcus","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"uYAEnKqeCrzrW5YV","userActivatedAt":1770776893635},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-16","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-16T19:34:19.374Z","createdAt":"2026-02-16T19:34:19.374Z","versionId":"69b6089d-4992-469c-8ec6-199dc527d6fa","workflowId":"KJk3TuaZmlqd0j9c","nodes":[{"parameters":{"httpMethod":"POST","path":"earnhardt-calendar-watch","responseMode":"responseNode","options":{}},"id":"c1b2c3d4-3333-4444-cccc-000000000001","name":"Calendar Watch Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,352],"webhookId":"earnhardt-cal-watch-001"},{"parameters":{"respondWith":"noData","options":{"responseCode":200}},"id":"c1b2c3d4-3333-4444-cccc-000000000002","name":"Respond 200 OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[464,240]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"condition-sync","leftValue":"={{ $json.headers['x-goog-resource-state'] }}","rightValue":"sync","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"c1b2c3d4-3333-4444-cccc-000000000003","name":"Skip Sync Messages","type":"n8n-nodes-base.if","typeVersion":2,"position":[688,352]},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"allen@enmessara.ai","mode":"list","cachedResultName":"allen@enmessara.ai"},"returnAll":true,"timeMin":"={{ $now.startOf('day').toISO() }}","timeMax":"={{ $now.plus(7, 'days').toISO() }}","options":{"orderBy":"startTime"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[912,352],"id":"c1b2c3d4-3333-4444-cccc-000000000004","name":"Fetch Calendar Events","credentials":{"googleCalendarOAuth2Api":{"id":"RLxXheVb5EvaLabc","name":"Google Calendar account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"condition-appointment","leftValue":"={{ $json.summary }}","rightValue":"Service","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"c1b2c3d4-3333-4444-cccc-000000000005","name":"Filter Appointments","type":"n8n-nodes-base.if","typeVersion":2,"position":[1120,352]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const event = $input.item.json;\nconst title = event.summary || '';\nconst description = event.description || '';\n\n// Parse: \"Appointment | Customer Name | Service Type\"\nconst parts = title.split('|').map(s => s.trim());\nconst customer_name = parts[1] || 'valued customer';\nconst appointment_type = parts[2] || 'auto service';\nconst appointment_time = event.start?.dateTime || event.start?.date || '';\n\n// Extract phone from description\nconst phoneRegex = /(Phone|phone_number|phone)\\s*:\\s*([+\\d\\-\\s()]+)/i;\nconst phoneMatch = description.match(phoneRegex);\nlet phone_raw = phoneMatch ? phoneMatch[2] : '';\n\n// Normalize to E.164\nlet phone_normalized = '';\nif (phone_raw) {\n  const digitsOnly = phone_raw.replace(/\\D/g, '');\n  if (digitsOnly.length === 10) phone_normalized = `+1${digitsOnly}`;\n  else if (digitsOnly.length === 11 && digitsOnly[0] === '1') phone_normalized = `+${digitsOnly}`;\n  else if (digitsOnly.length > 11) phone_normalized = `+${digitsOnly}`;\n}\n\nreturn {\n  json: {\n    customer_name,\n    appointment_time,\n    appointment_type,\n    phone_number: phone_normalized,\n    event_id: event.id\n  }\n};"},"id":"c1b2c3d4-3333-4444-cccc-000000000006","name":"Extract Customer Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,352]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"condition-phone","leftValue":"={{ $json.phone_number }}","rightValue":"","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"c1b2c3d4-3333-4444-cccc-000000000007","name":"Has Phone Number","type":"n8n-nodes-base.if","typeVersion":2,"position":[1568,352]},{"parameters":{"method":"POST","url":"https://api.retellai.com/v2/create-phone-call","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authentication","value":"key_65583dc1971057cffcc0ebe8a598"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from_number\": \"+17252289486\",\n  \"to_number\": {{ JSON.stringify($json.phone_number) }},\n  \"override_agent_id\": \"agent_1366e6adc7ed1285dfe778fcee\",\n  \"retell_llm_dynamic_variables\": {\n    \"customer_name\": {{ JSON.stringify($json.customer_name) }},\n    \"appointment_time\": {{ JSON.stringify($json.appointment_time) }},\n    \"appointment_type\": {{ JSON.stringify($json.appointment_type) }}\n  }\n}","options":{}},"id":"c1b2c3d4-3333-4444-cccc-000000000008","name":"Retell Outbound Call","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1792,352],"credentials":{"httpCustomAuth":{"id":"5HrLKE8aPabx0io0","name":"EarnhardtAutoMVP"},"httpHeaderAuth":{"id":"48q0LXxeyqPYQixK","name":"Header Auth account"}}}],"connections":{"Calendar Watch Webhook":{"main":[[{"node":"Respond 200 OK","type":"main","index":0},{"node":"Skip Sync Messages","type":"main","index":0}]]},"Skip Sync Messages":{"main":[[{"node":"Fetch Calendar Events","type":"main","index":0}]]},"Fetch Calendar Events":{"main":[[{"node":"Filter Appointments","type":"main","index":0}]]},"Filter Appointments":{"main":[[{"node":"Extract Customer Data","type":"main","index":0}]]},"Extract Customer Data":{"main":[[{"node":"Has Phone Number","type":"main","index":0}]]},"Has Phone Number":{"main":[[{"node":"Retell Outbound Call","type":"main","index":0}]]}},"authors":"Allen Marcus","name":null,"description":null}}